body, div, h1, form, fieldset, input, textarea, header, html, ul, li {
	margin: 0; padding: 0; border: 0; outline: none;
}
html { 
	height: 100%; 
	background: rgb(21,21,21); /* Old browsers */
}
body {
	/*font-family: "nimbus-sans", "angie-sans", "proxima-nova", sans-serif;*/
	/*font-family: "nimbus-sans", sans-serif;*/
	font-family: 'proxima-nova', sans-serif	;
	/*font-weight: 300;*/
	font-weight: normal;
	font-size: 15px; 
	color: #ccc;
	background-image: url(../images/bgDrk2.png);
	background-repeat: repeat;
	background-attachment: fixed;
	min-height: 100%;
}
a:focus {
	outline: none;
}
p {line-height: 140%; }
/*.hex {
	min-width:1200px;
	min-height: 100%;
	margin: 0;
}*/
#capsule {
	min-height: 1050px;
	margin: 0 auto;
	background-color: black;
	border: none;
}
#top {
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	background-color: #000;
	/*background-image: url(../images/topback_b.jpg);*/
	/*background-repeat: repeat-x;*/
	/*background-position-y: bottom;*/
	border-bottom: solid 2px #00B3CC;
	background: linear-gradient(to bottom, #232323 0%, black 45%, #111111 55%, black 100%);
}
header {
	width: 1024px;
	height: 44px;
	margin: 0 auto;
}
header h1 {ne; */
	font-weight: 900;
	font-family: "proxima-nova",sans-serif;
	color: #DBDBDB; 
	letter-spacing: -1px;
	line-height: 128%;
	text-shadow: 1px 1px 2px #000;
	vertical-align: middle;   /*MODIFIED*/
	display: inline-block;   /*MODIFIED*/
}
h1 a { 
	color: #cecece; ; 
}
.headerLetter {
	margin-right: -8px;
}
.headerLetter.thin {
	margin-right: -7px;
}
.logoGraphic {
	margin-top: -5px;
	margin-right: -5px;
}
.thin { 
	font-weight: 100;
	letter-spacing: -4px; 
}
header img { 
	vertical-align: middle;   /*MODIFIED*/
	padding: 0 0px 2px 7px;    /*MODIFIED*/
}
h2 {
	color: #FFF; /* warm blue #00CDCD  */
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0px;
	text-transform: uppercase;
}
h3 {
	color: #B8B8B8;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 600;
}
/*.h2style {
	font-family: "restore",sans-serif;
	font-size: 48px;
	letter-spacing: 1px;
	color: red;
}*/
/*.h3style {
	font-family: "proxima-nova",sans-serif;
	font-size: 48px;
	letter-spacing: 1px;
	font-weight: 900;
}
.h3blue {
	font-weight: 100;
	letter-spacing: -2px;
}
.h4style {
	font-family: "proxima-nova",sans-serif;
	font-size: 55px;
	letter-spacing: -2px;
	font-weight: 100;
	color: #cecece;
}*/
h4 {
	color: yellow;
}


/* -----------------NAVAGATION----------------------- */
.alpha60 {
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.75) 75%, rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
}
nav {
	font-weight: bold;
	letter-spacing: 0.5px;
	font-size: 16px;
	text-transform: uppercase;
}
#navdiv {
	margin: 0px 0 0px 0px;
	padding: 2px 0 0 0;
	height: 25px;
	position: fixed;
	z-index: 1000;
}
/*#navport {
	margin: 0px 0px 0px 40px;
	padding: 2px 0 0 0;
	height: 150px;
	width: 100px;
	position: fixed;
	top: 145px;
	z-index: 1000;
	background-image: url(../images/linevert.jpg);
	background-repeat: no-repeat;
	background-position: right;
}*/
#navdiv ul {
	list-style: none;
	margin: -2px 25px 0 0px;
	float: right;
}
/*#navport ul {
	list-style: none;
	margin: 20px 0px 0px 0px;
	width: 50px;
	float: right;
	text-align: right;
}*/
#navdiv li {
	float: left;
	margin: 5px 0px 0px 0px;
	text-shadow: 0px 0px 10px #000;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, rgba(0,0,0,0.65) 0%, rgba(0, 0, 0, 0.08) 75%, rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/*#navport li {
	margin: 0px 0px 15px -50px;
	padding: 2px 0px 2px 0px;
	width: 100px; 
	float: left;
}*/
#navdiv li a/*, #navport li a*/ {
	margin: 0px 0px 0px 0px;
	text-decoration: none;
	padding: 1px 9px 1px 9px; 
	color: #32E6FF;  /* #d7d7d7 */
	-webkit-transition: all .27s ease 0s;
	-moz-transition: all .27s ease 0s;
	-ms-transition: all .27s ease 0s;
	-o-transition: all .27s ease 0s;
	transition: all .27s ease 0s;
}	
#navdiv a:link/*, #navport a:link*/ {
	color: #32E6FF;
	font-weight: 500;
}

#navdiv a:hover/*, #navport a:hover*/ {
	color: #d7d7d7;
	letter-spacing: .5px;
} 


/* ------------------HOME-------------------- */
#craig {
	float: left;
}
#craig h1 {
	font-family: "proxima-nova",sans-serif;
	font-weight: 100;
	color: #cecece; 
	letter-spacing: -2px;
	margin-left: 0px;
}
a {
	text-decoration: none;
}
.photome {
	background-image: url(../images/me2.jpg);
	background-size: 100%;
	height: 108px;
	width: 108px;
	margin: 18px 0 5px 20px;
	float: right;
	border-radius: 5px;
}
/*#slideshow {
	margin: 40px 0 0 100px;
	padding-top: 100px;
}*/
/*#slideborder {
	border: solid 1px gray;
}*/

/* main page large buttons */
.design2 {
	height: 35px;
	width: 200px;
	float: left;
	margin: 0px 20px 25px 70px;
	padding: 15px 0 0px 0;
	display: block;
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
	color: #B9B9B9;
	text-shadow: 0 0 7px #000000;
	text-align: center;  
	position: relative; 
	border: 1px solid #333;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.22s ease-in-out 0s;
	-moz-transition: all 0.22s ease-in-out 0s;
	-ms-transition: all 0.22s ease-in-out 0s;
	-o-transition: all 0.22s ease-in-out 0s;
	transition: all 0.22s ease-in-out 0s;
	background-image: url(../images/button_off.jpg);
	background-repeat: repeat-x;
}

.design2:hover {
	color: white;
	text-shadow: 0 0 7px rgb(0, 28, 60);
	border: 1px solid #62A7E0;
	background-position: 0 100%;
	background: rgb(30,87,153); /* Old browsers */
	background-image: url(../images/button_on.jpg);
	background-repeat: repeat-x;
}
#about {
	margin: 0px 0 0 123px;
	width: 370px;
	height: 300px;
	padding: 0px 15px 30px 0;
	float: left;
}
.about {
	margin: 0px 0 0 0;
	width: 370px;
	height: 300px;
	padding: 0px 0 10px 15px;
	float: left;
}
#contact {
	float: left;
}
.contactme { 
	height: 400px;
	width: 165px;
	/*margin: 5px 0 26px 70px;*/
	float: left;
	line-height: 175%;
}
/*.contactme a img { 
	border:0 
}*/
.author {
	margin: 10px 175px 40px 0px;
	color: #adadad;
	float: right;
}
.quote {
	margin: 20px 0px 0px 120px;
	font-size: 34px;
	color: #666;
	letter-spacing: 0.55px;
	font-family: "angie-sans",sans-serif;
}
.blue { color:#00B3CC }
.email:link, .email:visited {
	color:#00B3CC;
	font-weight: 500;
	-webkit-transition: all 0.22s ease-in-out 0s;
	-moz-transition: all 0.22s ease-in-out 0s;
	-ms-transition: all 0.22s ease-in-out 0s;
	-o-transition: all 0.22s ease-in-out 0s;
	transition: all 0.22s ease-in-out 0s;
}
.email:link i, .email:visited i {
	color:#fff;
	padding-right: 8px;
	-webkit-transition: all 0.22s ease-in-out 0s;
	-moz-transition: all 0.22s ease-in-out 0s;
	-ms-transition: all 0.22s ease-in-out 0s;
	-o-transition: all 0.22s ease-in-out 0s;
	transition: all 0.22s ease-in-out 0s;
}
.email:hover, .email:active {
	color:#fff;
}
.email:link:hover i, .email:visited:hover i {
	color:#00B3CC;
}
.homespacer {
	margin-top: 15px;
	width: 300px;
	float: left;
	
}
/* -----------------PORTFOLIO----------------------- */
#portfolio h2 {
	float: left;
	margin: 0 0 40px 20px;
	text-transform: uppercase;
	color: #fff;
}
#portfolio h3 {
	font-size: 16px;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-top: 0;
	letter-spacing: 0px;
}
#portfolio h4 {
	
	text-transform: uppercase;
	font-weight: bold;
	float: right;
}
#graph {
	width: 850px;
	float: left;
}
#game2 {
	width: 750px;
	float: left;
}
#portfolio .portdesc a:link {
	color:#00B3CC;
}
#portfolio .portdesc a:visited {
	color:#00B3CC;
}
#portfolio .portdesc a:hover {
	color: #ffffff;
}
#portfolio .portdesc a:active {
	color:#ffffff;
}
/*.portspacer {
	margin-top: 50px;
	width: 850px;
	float: left;
	height: 61px;
}*/
.portimage {
	float: left;
	border: 1px solid #333;
}




/*----------Project formatting--------------*/

.portdesc {
	width: 230px;
	float: left;
	margin: 0 0 0 20px;
}
.portlink {
	-webkit-transition: all 0.22s ease-in-out 0s;
	-moz-transition: all 0.22s ease-in-out 0s;
	-ms-transition: all 0.22s ease-in-out 0s;
	-o-transition: all 0.22s ease-in-out 0s;
	transition: all 0.22s ease-in-out 0s;
	display: block;
	padding: 0px 20px 2px 0px;
	/*background-image:url(../images/link_accent.jpg);*/
	content:"\f08e";
	background-repeat:no-repeat;
	background-position:left center;
}
.portlink:before {
	font-family: FontAwesome;
	content:"\f08e";
	padding-right: 5px;
	padding-top: 3px;
	float: left;
	font-size: 14px;
}
#portfolio .portdesc .portlink:before {
	-webkit-transition: all 0.22s ease-in-out 0s;
	-moz-transition: all 0.22s ease-in-out 0s;
	-ms-transition: all 0.22s ease-in-out 0s;
	-o-transition: all 0.22s ease-in-out 0s;
	transition: all 0.22s ease-in-out 0s;
	color: white !important;
}
#portfolio .portdesc .portlink:hover:before {
	color: #00B3CC !important;
}
/*.portlink:hover  {
	background-image:url(../images/link_accent_d.jpg);
}*/


/*--------------Form-----------------*/

form {
	margin: 20px 0 50px 52px;
	width: 425px;
	float: left;
}

label {
	float: left;
	margin: 5px 20px 0 0;
	width: 20%;
	text-align: right;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: normal;
}
.input {
	float: left;
	width: 70%;
	height: 26px;
	margin: 0px 0 20px 0;
	padding: 0px 10px 0 10px;
	font-size: 13px;
	color: #f2f2f2; /* user entered text color and button text */
	text-shadow: 0px 0px 4px #1a1a1a;
	background: #1C2125;   /*  text box color */
	border-radius: 5px;
}
.input:-webkit-input-placeholder  {
	color: #798693;
}
.input:-moz-placeholder {
	color: #798693;
}
.input:focus, textarea:focus {
	background: #242729; /* background of selected boxes */
}
.button {	
	width: 120px;
	height: 30px;
	float: left;
	padding: 5px 15px 22px 15px;
	margin: 20px 15px 0 120px;
	border: 1px solid #666;
	cursor: pointer;
	font-weight: bold;
	font-size: 14px;
	word-spacing: 2px;	
	border: 1px solid #333;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.23s ease-in-out 0s;
	-moz-transition: all 0.23s ease-in-out 0s;
	-ms-transition: all 0.23s ease-in-out 0s;
	-o-transition: all 0.23s ease-in-out 0s;
	transition: all 0.23s ease-in-out 0s;
	background: url(../images/button_input_off.jpg), #000000;
	background-repeat: repeat-x;
	color: #999;
}
.button:hover {
	color: white;
	border: 1px solid #62A7E0;
	background-position: 0 100%;
	background: rgb(30,87,153); /* Old browsers */
	background-image: url(../images/button_input_on.jpg);
	background-repeat: repeat-x;
}
textarea {
	width: 300px;
	height: 170px;
	margin: 0 0 20px 0;
	padding: 7px 10px 0 10px;
	font-size: 13px;
	color: #f2f2f2; /* text color for entered comments */
	text-shadow: 0px 0px 4px #1a1a1a;
	background: #1C2125; /*comment background color */
	border-radius: 5px;
}
textarea:-webkit-input-placeholder  {
	color: #798693; 
}
textarea:-moz-placeholder {
	color: #798693;
}  
.hidden {
	display: none;
}

/* --------------FOOTER------------------- */
#footer {
	height: 40px;
	margin: 0 auto;
	border-top: 2px solid #333;
	border-left: 2px solid #212121;
	border-right: 2px solid #212121;
	background-color: #1A1A1A;
	text-align: center;
	color: #999;
}
#footer nav {
	font-size: 14px;
	margin-top: 11px;
}
#footer a:link {
	color:#00e0ff;
	font-weight: normal;
} 
#footer a:visited {color:#00e0ff} 
#footer a:hover {color:#ffffff}  
#footer a:active {color: #ffffff} 
.spacer {
	margin: 0 7px 0 7px;
	color: #3E3E3E;
}
/*.mailtest {
	color: #FFF;
	font-size: 35px
}*/



/* --------------SCROLL TOP------------------- */
#back-top {
	position: fixed;
	bottom: 55px;
	left: calc(50% + 420px);
	width: 100px;
}

#back-top a {
	/*width: 108px;*/
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	float: right;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}

/* arrow icon (span tag) */
#back-top span {
	width: 50px;
	height: 50px;
	display: block;
	margin-bottom: 7px;
	background: url(../images/up-arrow-round.png) no-repeat center center;
	background-size: 100%;
}

#back-top i {
	font-size: 50px;
	color: #696969;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top:hover i {
	color: #fff;
}

/* --------------MISC------------------- */
.clear {
	clear: both;
} 