<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Beatrice Spa and Beauty Salon</title>
<link href="style/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="top">
    <div class="containertop">Beatrice Logo</div>
  </div>
<div class="container">
    <div class="header">
      <!-- end .header -->
    </div>
    
  <div id="navcontainer">
    <ul id="navlist">
        <li id="active"><a href="#" id="current">&nbsp;Home&nbsp;</a></li>
        <li><a href="#">&nbsp;Treatments&nbsp;</a></li>
        <li><a href="#">&nbsp;Special Events&nbsp;</a></li>
        <li><a href="#">&nbsp;About Us&nbsp;</a></li>
        <li><a href="#">&nbsp;Book Online&nbsp;</a></li>
        <li class="login"><a href="#">&nbsp;Login&nbsp;</a></li>
    </ul>
    <div class="facebook"><p>Facebook</p></div>
  </div>
    
    <br />
    <div id="content">
      <div class="homeimage"></div>
      <h1>WELCOME</h1>
      <p>For a relaxing, energizing, and luxurious spa experience that will lift your spirits and channel your inner goddess, visit New York City’s Beatrice Spa and Beauty Salon. </p>

<p>Our little oasis of happiness is the perfect escape from the hustle-and-bustle of the fast-paced city lifestyle. Beatrice Spa is all about “serenity in the city.” We have created a wonderful, therapeutic healing spa that is warm, inviting, and focused solely on the art of relaxation. </p>

<p>We offer a variety of spa packages to help you unwind. Each one of our specialized treatments uses the safest, newest skincare products and revolutionary skincare techniques. </p>

<p>Our gracious staff was hired and trained by Beatrice herself, and the staffers are true experts in the fields of massage therapy, skincare, nail treatment, and body hair removal. When you come in for any beauty treatment at Beatrice, you will be given the star treatment and be pampered until you glow with radiance. </p>

<p>The Beatrice Spa and Beauty Salon environment is soothing to the mind and soul. Adorned in shades of gold, white, and beige, the spa’s décor was inspired by Egyptian, Roman, and Turkish baths and meditation rooms. </p>

<p>Our spa center is truly unique to New York. Retreat from the grinds of daily life and immerse yourself in comfort and quality here at Beatrice Spa and Salon. We look forward to helping you achieve bliss for your mind, body, and soul.</p>
      <!-- end .content -->
    </div>
  <div id="column">
    	<div id="spacer"></div>
        <div id="map" class="columnbox">
          <h2>Directions</h2>
          <p>Beatrice Spa and Beauty Salon<br />
			6423 E. 87th St<br />
			New York, NY 10555<br />
			212.555.5555<br />
			info@beatricespa.com</p>
            <div class="box"></div>
            <p class="mapit"><a href="#">Map It</a></p>
        </div>
		<div id="letter" class="columnbox">
            <h2>Newsletter</h2>
            <p>Sign up for our newsletter so we can keep you up to date with the latest at Beatrice's</p>
            <input  type="text" name="email" maxlength="80" size="30" placeholder="Enter your enail address" />
            <input type="submit" value="Sign Up" />
        </div>
	  <div id="specials" class="columnbox">
            <h2>Specials</h2>
            <p>Maecenas non est arcu. Nullam tristique ullamcorper eros, eget viverra libero interdum et. Phasellus mollis. $100</p>
    </div>
      <!-- end .sidebar1 -->
  </div>
  <div class="footer">Hours:  &nbsp;<span class="colored">|</span>&nbsp;   Sunday: 10am-4pm  &nbsp;<span class="colored">|</span>&nbsp;  Mon: Closed   &nbsp;<span class="colored">|</span>&nbsp;   Tues: 8am-8pm  &nbsp;<span class="colored">|</span>&nbsp;   Wed: 8am-6pm   &nbsp;<span class="colored">|</span>&nbsp;   Thurs: 8am-8pm   &nbsp;<span class="colored">|</span>&nbsp;   Friday: 10am-8pm   &nbsp;<span class="colored">|</span>&nbsp;   Saturday: 10am-6pm  </div>
<!-- end .container --></div>
</body>
</html>
