<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Beatrice Spa and Beauty Salon</title>
<link href="style/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="top">
    <div class="containertop">Beatrice Logo</div>
  </div>
<div class="container">
    <div class="header">
      <!-- end .header -->
    </div>
    
  <div id="navcontainer">
    <ul id="navlist">
        <li id="active"><a href="#" id="current">&nbsp;Home&nbsp;</a></li>
        <li><a href="#">&nbsp;Treatments&nbsp;</a></li>
        <li><a href="#">&nbsp;Special Events&nbsp;</a></li>
        <li><a href="#">&nbsp;About Us&nbsp;</a></li>
        <li><a href="#">&nbsp;Book Online&nbsp;</a></li>
        <li class="login"><a href="#">&nbsp;Login&nbsp;</a></li>
    </ul>
    <div class="facebook"><p>Facebook</p></div>
  </div>
    
    <br />
    <div id="content">
      <h1>Staff</h1>
      <div class="staffphotos">
      	<div class ="staffphoto"></div>
        <div class ="staffphoto"></div>
        <div class ="staffphoto"></div>
        <div class ="staffphoto"></div>
      </div>
		<div class="staff">
          <p>Beatrice Odessa is well aware of the  importance of having a friendly, knowledgeable staff at the Beatrice  Spa and Beauty Salon. Beatrice worked as an executive account manager  for over ten years in New York and Atlanta. In that time, she learned  the importance of people skills and strong communication. Before  opening her spa, she also learned what clients wanted and didn’t  want, from a whole spa experience.</p>

          <p>Beatrice and her staff have an utmost  commitment to their client and will work with you to best accommodate  you when you visit the spa.</p>
      
          <p>Every staff member at Beatrice Spa and  Beauty Salon is an expert in their respected field of beauty. Most of  them have been personally recruited by Beatrice to work at the spa.  It’s important for Beatrice that her staffers feel like family and  treat each and every client like family. Clients who have to work  with a different staffer due to schedule commitments, have complete  trust in Beatrice that any staffer they work with will meet their  needs.</p>

          <p>Beatrice prides herself on hiring the  best of the best when it comes to her employees. The best compliment  she ever received was from a female client who told Beatrice that she  frequented spas all over the world, but only the staff at Beatrice  makes her “feel right at home.” </p>
	  </div>

      <!-- end .content -->
    </div>
  <div id="column">
    	<div id="spacer"></div>
        <div id="map" class="columnbox">
          <h2>Directions</h2>
          <p>Beatrice Spa and Beauty Salon<br />
			6423 E. 87th St<br />
			New York, NY 10555<br />
			212.555.5555<br />
			info@beatricespa.com</p>
            <div class="box"></div>
            <p class="mapit"><a href="#">Map It</a></p>
        </div>
		<div id="letter" class="columnbox">
            <h2>Newsletter</h2>
            <p>Sign up for our newsletter so we can keep you up to date with the latest at Beatrice's</p>
            <input  type="text" name="email" maxlength="80" size="30" placeholder="Enter your enail address" />
            <input type="submit" value="Sign Up" />
        </div>
	  <div id="specials" class="columnbox">
            <h2>Specials</h2>
            <p>Maecenas non est arcu. Nullam tristique ullamcorper eros, eget viverra libero interdum et. Phasellus mollis. $100</p>
    </div>
      <!-- end .sidebar1 -->
  </div>
  <div class="footer">Hours:  &nbsp;<span class="colored">|</span>&nbsp;   Sunday: 10am-4pm  &nbsp;<span class="colored">|</span>&nbsp;  Mon: Closed   &nbsp;<span class="colored">|</span>&nbsp;   Tues: 8am-8pm  &nbsp;<span class="colored">|</span>&nbsp;   Wed: 8am-6pm   &nbsp;<span class="colored">|</span>&nbsp;   Thurs: 8am-8pm   &nbsp;<span class="colored">|</span>&nbsp;   Friday: 10am-8pm   &nbsp;<span class="colored">|</span>&nbsp;   Saturday: 10am-6pm  </div>
<!-- end .container --></div>
</body>
</html>
